/* queries for 1024px to 1200px (tablets to laptops / Desktops) */
@media only screen and (max-width:1200px) {
    .hero-text-box {
        padding: 0 2%;
        width: 100vw;
    }
}

@media only screen and (max-width: 1160px) {
    .city-info>img {width: 11rem;}

    .city-info h3 {font-size: 100%;}

    .city-feature {font-size: 14px;}

    .section-plans {padding: 8% 0 5% 0;}
}

@media only screen and (max-width: 1080px) {
    .city-info>img {
        width: 10rem;
    }
}

/* queries for 768px to 1023px (big phones to  tablets) */
@media only screen and (max-width:1024px) {
    body {font-size: 18px;}

    .city-info>img {width: 10rem;}

    .icon-small {
        width: 20px;
        margin-right: 5px;
    }
    .plan-box {
        width: 110%;
        margin-left: 0;
    }
    form {
        width: 80%;
    }
}

@media only screen and (max-width:960px) {
    .city-info>img {
        width: 9rem;
    }
}

/* queries for 481px to 767px (small phones to big phones) */
@media only screen and (max-width:768px) {
    body{font-size: 16px;}
    .logo{
        height: 50px;
        width: auto;
        border-radius: 50px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .main-nav{
        display: flex;
        padding-top: 35px;
        list-style: none;
        margin-right: 60px;
    }

    .main-nav li{
        padding-right: 40px;
    }
    section{padding: 30px 0px;}

    .city-info>img {width: 7rem;}

    .icon-small {
        width: 10px;
        margin-right: 3px;
    }

    .hero-text-box{
        padding: 0 4% 0 0;
        width: 90vw;
    }
    .long-copy{
        line-height: 145%;
        width: 90%;
        margin-left: 6%;
        margin-bottom: 30px;
    }
    .section-features{padding: 4%;}

    .section-features .row,
    .section-steps .row{
        display: flex;
        flex-direction: column;
    }
    .steps-box{margin-left: 15vw;}
    .steps-box>img{
        width: 40%;
        margin-left: 30vw;
    }
    .work-step{
        margin: 0 0 20px 40px;
    }
    .box:first-of-type{margin-left: 12px;}
}

@media only screen and (max-width:680px) {
    .work-step{
        font-size: 90%;
        gap: 15px;
    }
    .main-nav{display: none;}
    .hero-text-box{font-size: 80%;}

    .work-step h5{
        height: 40px;
        width: 40px;
        border: 2px solid #be681c;
        color: #b55e13;
        font-weight: 500;
        font-size: 110%;
    }

    .cities-section .row{
        display: flex;
        flex-direction: column;
    }
    .city-info{
        padding: 1% 5%;
        width: 80%;
        }
    .city-info>img{
        width: 60%;
        height: auto;
    }
    .section-plans .row,
    .testimonials .row{
        display: flex;
        flex-direction: column;
    }
    .section-plans .col{margin: 15px 0;}
    .plan-box{
        width: 50%;
        padding: 3%;
    }
    .plan-box:first-of-type{margin:0 11vw;}
}

@media only screen and (max-width:540px) {
    .steps-box{margin-left: 10vw;}
}
/* queries for 0 to 480ps (upto small phones) */
@media only screen and (max-width:480px) {
    .steps-box{margin-left: 7vw;}

    header{height: 60vh;}
    .hero-text-box{
        margin-top: 5vh;
        font-size: 70%;
    }
    .plan-box{
        width: 70%;
        padding: 3%;
    }
    .section-features{margin-left: 20px;}
    h2{font-size: 140%; margin: 0 auto;}
}